<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practica 1 - Inteligencia Artificial 1</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style type="text/css">
        .flexbox-container {
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
        }

        .flexbox-container > div {
            width: 50%;
            padding: 10px;
        }

        .flexbox-container > div:first-child {
            margin-right: 20px;
        }

        textarea {
            overflow-y: scroll;
            height: 500px;
            resize: none;
        }
    </style>


    <div class="flexbox-container">
        <div><h3></h3>

            <form action="/analizar" method="POST" enctype="multipart/form-data" style="margin: 70px" Type="submit">
                <div class="form-group">
                    <div class="input-gruop mb-3">
                        <label for="genero">Genero:</label>
                        <br/>
                        <select name="genero" id="genero" required="true">
                            <option value="0">Masculino</option>
                            <option value="1">Femenino</option>
                        </select>
                        <br/>
                        <br/>
                        <label for="edad">Edad:</label>
                        <br/>
                        <input name="edad" id="edad" type="number" min="0" value="0" required="true"/>
                        <br/>
                        <br/>
                        <label for="anno">Año de inscripción:</label>
                        <br/>
                        <input name="anno" id="anno" type="number" min="1900" placeholder="2020" required="true"/>
                        <br/>
                        <br/>
                        <label for="depto">Departamento:</label>
                        <br/>
                        <select name="depto" id="depto">
                            <option value="1">Guatemala</option>
                            <option value="2">El Progreso</option>
                            <option value="3">Sacatepéquez</option>
                            <option value="4">Chimaltenango</option>
                            <option value="5">Escuintla</option>
                            <option value="6">Santa Rosa</option>
                            <option value="7">Sololá</option>
                            <option value="8">Totonicapán</option>
                            <option value="9">Quetzaltenango</option>
                            <option value="10">Suchitepéquez</option>
                            <option value="11">Retalhuleu</option>
                            <option value="12">San Marcos</option>
                            <option value="13">Huehuetenango</option>
                            <option value="14">Quiché</option>
                            <option value="15">Baja Verapaz</option>
                            <option value="16">Alta Verapaz</option>
                            <option value="17">Petén</option>
                            <option value="18">Izabal</option>
                            <option value="19">Zacapa</option>
                            <option value="20">Chiquimula</option>
                            <option value="21">Jalapa</option>
                            <option value="22">Jutiapa</option>
                        </select>
                        <br/>
                        <br/>
                        <label for="mun">Municipio:</label>
                        <br/>
                        <select name="mun" id="mun"> </select>
                    </div>
                </div>

                </br>
                </br>

                <input type="submit" value="Analizar"/>

                </br>
                </br>

            </form>
        </div>


        <div><h3>Consola:</h3>
            <textarea name="textarea"  style="font-size: 16pt" rows="50" cols="50"> {{ mensaje[0] }}</textarea>
        </div>
    </div>

</head>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='code.js')}}"></script>
<body>

</body>
</html>